<div style="margin-top: 90px;">

  <div class="form">
    <form [formGroup]="firstFormGroup">
      <mat-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">

          <ng-template matStepLabel>Book Flight</ng-template>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="First name" formControlName="firstCtrl" required>
          </mat-form-field>

          <mat-form-field style="margin-left: 50px;">

            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="firstCtrl" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field style="margin-left: 50px;">
            <mat-label>Travel Date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <div style="margin-top: 10px;"></div>
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput placeholder="Address" formControlName="firstCtrl" required>
          </mat-form-field>

          <mat-form-field style="margin-left: 50px;">
            <mat-label>Phone Number</mat-label>
            <input matInput type="number" placeholder="Mobile Number" minlength="10" maxlength="10"
              formControlName="firstCtrl" required>
          </mat-form-field>


          <mat-form-field style="margin-left: 50px;">
            <mat-label>Available Seat</mat-label>
            <mat-select>
              <mat-option *ngFor="let seat of seats" [value]="seat.seatName"
                [disabled]="seat.availability !== 'AVAILABLE' ">{{
                seat.seatName
                }}</mat-option>
            </mat-select>
          </mat-form-field>

          <div style="margin-top: 10px;"></div>
          <mat-form-field>
            <mat-label>Departure Airport</mat-label>
            <mat-select name=" departureAirport" required>
              <mat-option value="Kathmandu">Kathmandu</mat-option>
              <mat-option value="Pokhara">Pokhara</mat-option>
              <mat-option value="Biratnagar">Biratnagar</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field style="margin-left: 50px;">
            <mat-label>Arrival Airport</mat-label>
            <mat-select>
              <mat-option value="Doha">Doha</mat-option>
              <mat-option value="Etihad">Etihad</mat-option>
              <mat-option value="Barcelona">Barcelona</mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Payment Details">

          <mat-chip-listbox aria-label="Fish selection" color="warn" [(ngModel)]="selectedOption">
            <mat-chip-option class="esewa" (selectionChange)="changeSelected('Esewa')" value="Esewa"
              [selected]="selectedOption === 'Esewa'">eSewa</mat-chip-option>
            <mat-chip-option color="accent" (selectionChange)="changeSelected('FonePay')" value="FonePay"
              [selected]="selectedOption === 'FonePay'">FonePay</mat-chip-option>
          </mat-chip-listbox>

          <mat-form-field floatLabel="always">
            <mat-label>Amount</mat-label>
            <input matInput type="number" class="example-right-align" placeholder="0" [value]="10000">
            <span matTextPrefix>Rs.&nbsp;</span>
          </mat-form-field>

          <div *ngIf="selectedOption === 'FonePay'">
            <mat-form-field floatLabel="always">
              <mat-label>Account Number</mat-label>
              <input matInput type="number" placeholder="Account Number">
              <span matTextPrefix>Ac.&nbsp;</span>
            </mat-form-field>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <button type="submit" class="btn-bgstroke">Confirm Ticket</button>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-stepper>
    </form>
  </div>
</div>