@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.body{
  background: #e2e1e0;
  margin-top: 90px;
}

.btn-bgstroke {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 250;
  margin-top: 30px;
}

.btn-bgstroke:hover {
  background-color: #2587f7 !important;
  color: #1f2029 !important;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
  transition: all 0.5s ease;
}
.esewa{
  background-color: #84cc16;
}
