table {
  width: 50%;
  margin-top: 100px;
  position: relative;
}
.main{
  margin-left: 17%;
  margin-right: 15%;
}
a.btn:hover,
a.btn:focus {
  transform: scale(1.1);
  transition-duration: 0.5s;
}

a.btn {
  transform: scale(0.8);
  transition-duration: 0.5s;
}
