@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

.main{
  background-color: #1f2029;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  margin-top: 40px;
  overflow: hidden;
}
h1,
p,
a{
  margin: 0;
  padding: 0;
  font-family: 'Lato';
}

h1 {
  font-size: 2.8em;
  padding: 10px 0;
  font-weight: 800;
}

p {
  font-size: 1.1em;
  font-weight: 100;
  letter-spacing: 5px;
}

.header {
  width: 100%;
  padding:60px 0;
  text-align: center;
  color: white;
}


.btn-bgstroke {
  font-size: 20px;
  display: inline-block;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
  margin-top: 30px;
}

.btn-bgstroke:hover {
  background-color: #ffeba7 !important;
  color: #1f2029 !important;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
  transition: all 0.5s ease;
}
.card {
  background: #4d4342;
  border-radius: 2px;
  height: 400px;
  width: 350px;
  float: left;
  margin-left: 50px;
  margin-top: -10px;
  position: relative;
}
.card-font{
  font-family: 'Poppins', sans-serif;
  color:white; padding: 20px; text-align: justify; font-size:larger;
}
.rightcard-font{
  font-family: 'Poppins', sans-serif;
  color:white; padding: 20px; text-align: justify; font-size:larger;
}
.leftcard-font{
  font-family: 'Poppins', sans-serif;
  color:white; padding: 20px; text-align: justify; font-size:larger;
}
.card-main{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr ;
  column-gap: 0px;
}
.rightcard-main{
  display: grid;
  align-items: center;
  grid-template-columns: 4fr 2fr ;
  column-gap: 0px;
}

.leftcard-main{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr ;
  column-gap: 0px;
}


.rightCard{
  background: #4d4342;
  border-radius: 15px;
  height: 400px;
  width: 350px;
  margin-right: 50px;
  margin-left: auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.leftCard {
  background: #4d4342;
  border-radius: 15px;
  height: 400px;
  width: 350px;
  float: left;
  margin-left: 50px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.rightCard img{
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
   object-fit:cover;
   border-radius: 15px;
}

.leftCard img{
  width: 100%;
  height: 100%;
  max-width: 100%;
   max-height: 100%;
   object-fit:cover;
   border-radius: 15px;
}

.card img{
   max-width: 100%;
    max-height: 100%;
    object-fit:cover;
    border-radius: 15px;
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 15px;

}
.card-2:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.card-2:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
@media (max-width: 767px) {
  /* Styles for screens smaller than 768px (e.g., mobile devices) */

  .card-main,
  .rightcard-main,
  .leftcard-main {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .card,
  .rightCard,
  .leftCard {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .leftCard,
  .card{
    margin-left: 0px;
  }

}

@media (min-width: 768px) {
  /* Styles for screens larger than or equal to 768px (e.g., tablets and desktops) */

  .card-main,
  .rightcard-main,
  .leftcard-main {
    flex-direction: row;
    margin-top: 0;
  }

  .card,
  .rightCard,
  .leftCard {
    width: 350px;
    height: 400px;
    margin-bottom: 0;
  }
}



