<div class="main">
  <div class="header">
    <h1>Nevermind Flights</h1>
    <p>Catch flights, not feelings.</p>
    <a class="btn-bgstroke" (click)="login()">Login</a>
    <a class="btn-bgstroke" (click)="bookFlightEvent()">Book Flights</a>
  </div>
  <div class="card-main">
    <div class="card card-2">
      <img src="../../../assets/images/plane.jpg" alt="plane">
    </div>
    <div class="card-font">
      <span>Welcome aboard our exceptional flight service, where we strive to provide an unparalleled travel experience.
        From the moment you step onto our aircraft, you will be greeted by our attentive and friendly cabin crew,
        dedicated to ensuring your comfort and satisfaction throughout your journey.
        Our fleet consists of state-of-the-art aircraft, equipped with advanced technology and meticulously maintained
        to guarantee safety and reliability. We prioritize your well-being, offering spacious seating arrangements,
        ample legroom, and luxurious amenities to make your flight as enjoyable as possible.</span>
    </div>
  </div>

  <div class="rightcard-main">
    <div class="rightcard-font">
      <span>Upon arrival, our knowledgeable and friendly staff will guide you through the airport, assisting with
        check-in procedures, security checks, and any other necessary formalities. We understand the value of time, and
        our streamlined processes aim to minimize waiting times, allowing you to swiftly move through the airport and
        focus on your travel plans.
        Our airport facilities are designed with your comfort and convenience in mind. Experience spacious and
        well-appointed lounges, where you can relax, unwind, or catch up on work while enjoying a range of complimentary
        amenities, including refreshments, Wi-Fi access, and business services.</span>
    </div>
    <div class="rightCard card-2">
      <img src="../../../assets/images/airport.jpg" alt="airport">
    </div>

  </div>

  <div class="leftcard-main">
    <div class="leftCard card-2">
      <img src="../../../assets/images/bali.jpg" alt="airport">
    </div>
    <div class="leftcard-font">
      <span>
        Travel destinations offer a world of wonders waiting to be explored. From vibrant cities to breathtaking natural
        landscapes, each destination has its unique charm and allure.
        Immerse yourself in the bustling streets of iconic cities like Paris, New York, or Tokyo, where you can witness
        the fusion of history, culture, and modernity. Marvel at architectural marvels, indulge in world-class cuisine,
        and delve into the vibrant arts and entertainment scenes that define these cosmopolitan hubs.
        For those seeking tranquility and natural beauty, escape to destinations like the serene beaches of Bali, the
        majestic fjords of Norway, or the lush rainforests of Costa Rica.</span>
    </div>
  </div>
</div>







<!-- <button (click)="contactEvent()">Contact us</button> -->