<div id="container">
  <div class="card" id="hulk">
    <div class="card-image">
      <img src="../../../assets/images/hulk.png" />
    </div>
    <div class="card-text">
      <h2>MARVEL</h2>
      <p>PREET<br>BISTA</p>
      <div>
        <div>
          <span>15</span>
          <span>&cent;</span>

        </div>
        <div><span>27</span><span>May</span></div>
      </div>
    </div>
  </div>
  <div class="card" id="spiderman">
    <div class="card-image">
      <img src="../../../assets/images/sipdy.png" />
    </div>
    <div class="card-text">
      <h2>SPIDY</h2>
      <div>
        <div>
          <span>SATYA</span>
          <span>BRO</span>

        </div>
        <div><span>12</span><span>&cent;</span></div>
      </div>
    </div>
  </div>
  <div class="card" id="deadpool">
    <div class="card-text">
      <div><span>40</span><span>&cent;</span></div>
      <div>
        <span>29</span>
        <span>JAN</span>
        <span>02461</span>
      </div>
    </div>
    <div class="card-image">
      <p>&copy; 1979 Marvel <br>Backend paltan</p>
      <img src="../../../assets/images/deadpool.png" />
    </div>
  </div>
</div>