<div class="div-body">
  <nav>
    <a href="#"><img class="img" src="../../../assets/images/logo.png" /></a>
    <ul>
      <li><a class="un" href="" target="_parent">Home</a></li>
      <li><a class="un" routerLink="/user/book-flight">Book Flight</a></li>
      <li><a class="un" routerLink="/user/gallery">Gallery</a></li>
      <li><a class="un" routerLink="/user/contact">Contact Us</a></li>
      <li>
        <a class="un" routerLink="/auth/login">Login</a>
      </li>
    </ul>
  </nav>
</div>