<div class="div-body">
  <nav>
    <a href="#"><img class="img"
        src="https://www.freepnglogos.com/uploads/plane-png/plane-png-flights-airlines-msp-airport-1.png" /></a>
    <ul>
      <li><a class="un" href="#">Home</a></li>
      <li><a class="un" routerLink="/book-flight">Book Flight</a></li>
      <li><a class="un" routerLink="/about">About</a></li>
      <li><a class="un" routerLink="/contact">Contact Us</a></li>
      <li>
        <a class="un" routerLink="/auth/login">Login</a>
      </li>
    </ul>
  </nav>
</div>