<html>

<body>
  <div class="card card-2" cdkDrag>
    <mat-form-field appearance="outline" style="margin-top: 10px; width: 270px;">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Your Name" [formControl]="name" required="">
      <mat-error *ngIf="name.invalid">{{getErrorName()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 270px;">
      <mat-label>Email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 270px;">
      <mat-label>Message</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>

    <div>
      <button type="submit" class="btn mt-4">Send</button>
    </div>


  </div>
</body>

</html>