@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
.sidebar {

  background-color: bisque;
  width: 60px; /* Initial width */
  height: 100%;
  transition: width 0.3s ease-in-out;
}

.sidebar:hover {
  width: 200px; /* Expanded width */
}

nav {
  position: relative;
}

nav .img {
  width: 60px;
}

li {
  list-style-type: none;
  margin-top: 20px;
  font-weight: 20px;
  font-family: 'Poppins', sans-serif;
}

a:hover {
  text-decoration: none;
}

.list {
  margin-top: 60px;
}

.sidebar .name {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.sidebar a:hover .name {
  opacity: 1;
}

