<router-outlet></router-outlet>
<div class="sidebar">
  <nav>
    <a href="/admin/dashboard"><img class="img" src="../../../assets/images/admin.png" /></a>
    <div class="list">
      <ul style="font-size: 15px;">
        <li>
          <a routerLink="/admin/dashboard/admin_home">
            <span class="fa fa-home"></span>
            <span class="name"> &nbsp;Home</span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="fa-solid fa-chart-area"></span>
            <span class="name"> &nbsp;Analytics</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/dashboard/user_table">
            <span class="fa-solid fa-users"></span>
            <span class="name"> &nbsp;Users</span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="fa-solid fa-ticket"></span>
            <span class="name"> &nbsp;Tickets</span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="fa-solid fa-address-book"></span>
            <span class="name"> &nbsp;Contacts</span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="fa-solid fa-person-circle-plus"></span>
            <span class="name"> &nbsp;Add Admin</span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="fa-solid fa-images"></span>
            <span class="name"> &nbsp;Gallery</span>
          </a>
        </li>

        <li>
          <a routerLink="/auth/login" (click)="logoutUser()">
            <span class="fa fa-sign-out"></span>
            <span class="name"> &nbsp;Sign Out</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>