<!-- <div #test123>
  Hello
</div>

<ul>
  <li #data *ngFor="let i of arrayData">{{i}}</li>
</ul> -->
<div class="main">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card" style="background-color: #2b2e38;">
        <img src="../../../assets/images/bali1.jpg" class="card-img-top" alt="Hollywood Sign on The Hill" />
        <div class="card-body" style="color:#ffeba7">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="background-color: #2b2e38;">
        <img src="../../../assets/images/nepal.jpg" class="card-img-top" alt="Palm Springs Road" />
        <div class="card-body" style="color:#ffeba7">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="background-color: #2b2e38;">
        <img src="../../../assets/images/nepal2.jpg" class="card-img-top" alt="Los Angeles Skyscrapers" />
        <div class="card-body" style="color:#ffeba7">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="background-color: #2b2e38;">
        <img src="../../../assets/images/bali2.jpg" class="card-img-top" alt="Skyscrapers" />
        <div class="card-body" style="color:#ffeba7">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card" style="background-color: #2b2e38;">
        <img src="../../../assets/images/nepal3.jpg" class="card-img-top" alt="Hollywood Sign on The Hill" />
        <div class="card-body" style="color:#ffeba7">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="background-color: #2b2e38;">
        <img src="../../../assets/images/nepal4.jpg" class="card-img-top" alt="Palm Springs Road" />
        <div class="card-body" style="color:#ffeba7">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="background-color: #2b2e38;">
        <img src="../../../assets/images/nepal5.jpg" class="card-img-top" alt="Los Angeles Skyscrapers" />
        <div class="card-body" style="color:#ffeba7">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="background-color: #2b2e38;">
        <img src="../../../assets/images/camp.jpg" class="card-img-top" alt="Skyscrapers" />
        <div class="card-body" style="color:#ffeba7">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card" style="background-color: #2b2e38;">
        <img src="../../../assets/images/land1.jpg" class="card-img-top" alt="Hollywood Sign on The Hill" />
        <div class="card-body" style="color:#ffeba7">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="background-color: #2b2e38;">
        <img src="../../../assets/images/bz.jpg" class="card-img-top" alt="Palm Springs Road" />
        <div class="card-body" style="color:#ffeba7">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="background-color: #2b2e38;">
        <img src="../../../assets/images/nl.jpg" class="card-img-top" alt="Los Angeles Skyscrapers" />
        <div class="card-body" style="color:#ffeba7">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="background-color: #2b2e38;">
        <img src="../../../assets/images/st.jpg" class="card-img-top" alt="Skyscrapers" />
        <div class="card-body" style="color:#ffeba7">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>